.equipment {
    display: grid;
    grid-template-columns: 1fr 90rem 1fr;
    grid-template-rows: 30rem 8rem auto 10rem;

    &__container {
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        display: grid;
        grid-template-columns: repeat(4, 22.5rem);
        grid-template-rows: auto;
    }

    // Banner
    &__banner {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        background-image: url(../../../assets/home/products/Equipment-Banner-Dark.jpg);
        background-size: cover;
        background-position: center;
    }

    &__banner-container {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    &__heading {
        color: $color-white;
        text-transform: uppercase;
        font-size: 4.5rem;
    }

    &__border {
        margin: 2rem auto;
        height: 2px;
        width: 15rem;
        background-color: $color-green;
    }

    // Product Components
    &__component {
        margin-bottom: 5rem;
        display: grid;
        justify-content: center;
        transition: all .4s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

        &:active,
        &:focus {
            transform: scale(1);
            transition: all .3s ease;
        }
    }

    &__component-photo {
        width: 15rem;
        height: 15rem;
        align-self: center;
        justify-self: center;

        border: 3px solid $color-teal;
        border-radius: 50%;
        box-shadow: $shadow-button;
        background-size: cover;
        background-position: center;

        transition: all .4s ease;
    }

    &__component:hover > &__component-photo {
        border: 3px solid $color-orange;
        box-shadow: $shadow-large;
    }

    &__component:active > &__component-photo {
        border: 3px solid $color-green;
        box-shadow: $shadow-button;
        transition: all .1s ease;
    }

    &__component-heading {
        margin-top: 2rem;
        font-size: 1.4rem;
        text-align: center;
        color: $color-grey;
        max-width: 18rem;

        transition: all .4s ease;
    }

    &__component:hover > &__component-heading {
        color: #2d2d2d;
    }

    // Selected
    &__container-2 {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        display: grid;
        grid-template-columns: repeat(4, 22.5rem);
        grid-template-rows: 4rem 8rem 40rem auto;
    }

    &__selected-button {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        justify-self: flex-end;

        width: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        &:hover {
            cursor: pointer;
        }
    }

    &__back-icon {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: 3.5rem;
        width: 3.5rem;
        margin-right: 1rem;
        fill: $color-teal;

        transition: all .3s ease;
    }

    &__selected-button:hover > &__back-icon {
        fill: $color-teal-dark;
        transform: scale(1.05);
        transform: translateX(-40px);
    }

    &__back-text {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        color: $color-teal;
        font-weight: bold;
        margin-top: .5rem;
        opacity: 0;

        transition: all .5s ease;
    }

    &__selected-button:hover > &__back-text {
        opacity: 1;
    }

    &__selected-heading {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        font-size: 2.4rem;
        text-align: center;
        color: $color-grey;
    }

    &__selected-photo {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;

        width: 40rem;
        height: 40rem;
        align-self: center;
        justify-self: center;

        border: 5px solid $color-green;
        border-radius: 50%;
        box-shadow: $shadow-button;
        background-size: cover;
        background-position: center;
    }

    &__selected-description {
        grid-column: 1 / 5;
        grid-row: 4 / 5;

        justify-self: center;
        align-self: center;
        margin-top: 8rem;
        margin-bottom: 4rem;

        color: $color-grey;
    }

    // Prices Container
    &__prices-container {
        grid-column: 3 / 5;
        grid-row: 2 / 4;

        display: grid;
        grid-template-columns: 1fr repeat(3, 12rem);
        grid-template-rows: 8rem repeat(2, 6rem) 4rem repeat(2, 6rem) 1fr;
    }

    &__previous {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: flex-start;
        align-self: center;

        height: 3rem;
        width: 14rem;

        border: none;
        outline: none;
        color: $color-teal;
        text-decoration: underline;
        font-weight: bold;

        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            background-color: $color-teal;
            color: #fff;
            border-radius: 5px;
            box-shadow: $shadow-medium;
            transform: scale(1.05);
            text-decoration: none;
        }
    }

    &__next {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        justify-self: flex-end;
        align-self: center;

        height: 3rem;
        width: 14rem;

        border: none;
        outline: none;
        color: $color-teal;
        text-decoration: underline;
        font-weight: bold;

        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            background-color: $color-teal;
            color: #fff;
            border-radius: 5px;
            box-shadow: $shadow-medium;
            transform: scale(1.05);
            text-decoration: none;
        }
    }

    &__prices-heading-1 {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
        align-self: center;

        text-align: center;
        color: $color-grey;
    }

    &__prices-1 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        z-index: 1;
    }

    &__prices-price-1 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        z-index: 0;
        color: $color-teal;
        font-weight: bold;
        font-size: 2.4rem;

        transition: all .3s ease;
    }

    &__prices-1:hover + &__prices-price-1 {
        transform: translateY(5rem);
    }

    &__prices-2 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        z-index: 1;
    }

    &__prices-price-2 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        z-index: 0;
        color: $color-teal;
        font-weight: bold;
        font-size: 2.4rem;

        transition: all .3s ease;
    }

    &__prices-2:hover + &__prices-price-2 {
        transform: translateY(5rem);
    }

    &__prices-3 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        z-index: 1;
    }

    &__prices-price-3 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
        align-self: center;
        justify-self: center;
        z-index: 0;
        color: $color-teal;
        font-weight: bold;
        font-size: 2.4rem;

        transition: all .3s ease;
    }

    &__prices-3:hover + &__prices-price-3 {
        transform: translateY(5rem);
    }

    &__prices-heading-2 {
        grid-column: 2 / -1;
        grid-row: 5 / 6;
        align-self: center;

        text-align: center;
        color: $color-grey;
    }

    &__prices-4 {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        align-self: center;
        justify-self: center;
        z-index: 1;
    }

    &__prices-price-4 {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        align-self: center;
        justify-self: center;
        z-index: 0;
        color: $color-teal;
        font-weight: bold;
        font-size: 2.4rem;

        transition: all .3s ease;
    }

    &__prices-4:hover + &__prices-price-4 {
        transform: translateY(5rem);
    }

    &__prices-5 {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
        align-self: center;
        justify-self: center;
        z-index: 1;
    }

    &__prices-price-5 {
        grid-column: 3 / 4;
        grid-row: 6 / 7;
        align-self: center;
        justify-self: center;
        z-index: 0;
        color: $color-teal;
        font-weight: bold;
        font-size: 2.4rem;

        transition: all .3s ease;
    }

    &__prices-5:hover + &__prices-price-5 {
        transform: translateY(5rem);
    }

    &__prices-6 {
        grid-column: 4 / 5;
        grid-row: 6 / 7;
        align-self: center;
        justify-self: center;
        z-index: 1;
    }

    &__prices-price-6 {
        grid-column: 4 / 5;
        grid-row: 6 / 7;
        align-self: center;
        justify-self: center;
        z-index: 0;
        color: $color-teal;
        font-weight: bold;
        font-size: 2.4rem;

        transition: all .3s ease;
    }

    &__prices-6:hover + &__prices-price-6 {
        transform: translateY(5rem);
    }

    &__button {
        width:10rem;
        height: 4rem;

        background-color: $color-green;
        border: none;
        border-radius: 5px;
        box-shadow: $shadow-button;
        color: $color-white;
        text-transform: uppercase;
        outline: none;
        font-weight: 600;
        text-decoration: none;

        transition: .3s all ease;

        &:hover {
            cursor: pointer;
            background-color: $color-grey-light;
            color: $color-green;
        }

        &:active {
            box-shadow: none;
        }
    }
}