.home {
    // Web Hero
    &__web-hero {
        display: grid;
        grid-template-columns: 1fr 40rem;
        grid-template-rows: 60rem 18rem;

        @include respond(tab-land) {
            grid-template-rows: 50rem 18rem;
        }

        @include respond(tab-port) {
            grid-template-columns: 1fr 40rem;
        }

        @include respond(phone) {
            grid-template-columns: 1fr;
            grid-template-rows: 44rem 10rem;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr;
            grid-template-rows: 35rem 8rem;
        }
    }

    &__hero-video-container {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
    }

    &__hero-video {
        width: 100%;

        @include respond(phone) {
            display: none;
        }
    }

    &__video-svg {
        display: none;

        @include respond(phone) {
            width: 40rem;
            height: 40rem;
            display: inline;
            position: absolute;
            top: 12rem;
            left: 1rem;
        }

        @include respond(small-phone) {
            width: 30rem;
            height: 30rem;
            top: 12rem;
            left: 3rem;
        }
    }

    &__hero-circle {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        z-index: 2;
        align-self: flex-start;
        justify-self: flex-end;

        height: 80%;
        width: 50rem;

        padding-left: 10rem;

        background-color: $color-teal;
        border-radius: 0 0 0 50rem;
        box-shadow: $shadow-medium-left;

        @include respond(tab-land) {
            width: 45rem;
        }

        @include respond(tab-port) {
            width: 42rem;
        }

        @include respond(phone) {
            width: 38rem;
            height: 50%;
        }

        @include respond(small-phone) {
            width: 32rem;
            height: 45%;
        }
    }

    &__hero-messaging {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        align-self: flex-start;

        text-align: right;
        margin-top: 15rem;
        margin-right: 4rem;
        z-index: 3;
        display: flex;
        flex-direction: column;

        @include respond(tab-land) {
            margin-top: 0;
            margin-right: 3rem;
        }

        @include respond(tab-port) {
            margin-top: 0;
            margin-right: 2rem;
        }
    }

    &__hero-heading {
        color: $color-white;
        text-transform: uppercase;
        font-size: 4.5rem;
        margin-bottom: 2rem;

        @include respond(tab-land) {
            margin-top: 10rem;
        }

        @include respond(phone) {
            font-size: 4rem;
            margin-top: 4rem;
        }

        @include respond(small-phone) {
            font-size: 3.2rem;
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
    }

    &__hero-subheading {
        color: $color-white;
        font-size: 2.4rem;
        font-weight: 100;
        width: 30rem;
        align-self: flex-end;

        @include respond(phone) {
            font-size: 1.8rem;
            width: 20rem;
        }
    }

    &__hero-arrow-heading {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;

        color: $color-grey;
        font-size: 2.4rem;
        font-weight: 100;
        text-transform: uppercase;

        @include respond(phone) {
            grid-column: 1 / 3;
            text-align: center;
            align-self: flex-start;
        }

        @include respond(small-phone) {
            grid-column: 1 / 3;
            text-align: center;
            align-self: flex-start;
            font-size: 1.8rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__hero-arrow {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: flex-end;

        width: 5rem;
        height: 5rem;

        fill: $color-teal;

        @include respond(phone) {
            grid-column: 1 / 3;
        }

        &:hover {
            cursor: pointer;
        }
    }
}