.home {

    // Heading
    &__products {
        display: grid;
        grid-template-columns: 1fr repeat(3, 30rem) 1fr;
        grid-template-rows: 18rem 20rem 40rem 40rem 10rem;

        @include respond(phone) {
            grid-template-columns: 1fr repeat(6, 6.5rem) 1fr;  
            grid-template-rows: 18rem 20rem repeat(3, 28rem) 10rem;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr repeat(6, 5rem) 1fr;
            grid-template-rows: 12rem 12rem repeat(3, 25rem) 5rem;
        }
    }

    &__products-heading {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;

        color: $color-grey;
        font-size: 2.4rem;
        font-weight: 100;
        text-transform: uppercase;

        @include respond(phone) {
            grid-column: 2 / 8;
            text-align: center;
            align-self: flex-start;
        }
    }

    &__products-arrow {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: flex-end;

        width: 5rem;
        height: 5rem;

        fill: $color-teal;

        @include respond(phone) {
            grid-column: 2 / 8;
        }

        &:hover {
            cursor: pointer;
        }
    }

    // Buttons
    &__products-rentals-button {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;

        width: 25rem;
        height: 6rem;

        border: 1px solid $color-grey-mild;
        background-color: $color-white;
        border-radius: 5px;
        outline: none;
        
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-teal;

        transition: .3s all ease;

        @include respond(phone) {
            grid-column: 2 / 4;
            width: 10rem;
            height: 5rem;
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            width: 9rem;
            height: 4rem;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-grey-light;
        }
    }

    &__products-rentals-button--active {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;

        width: 25rem;
        height: 6rem;

        border: none;
        background-color: $color-teal;
        border-radius: 5px;
        box-shadow: $shadow-button;
        outline: none;
        
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-white;

        transition: .3s all ease;

        @include respond(phone) {
            grid-column: 2 / 4;
            width: 10rem;
            height: 5rem;
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            width: 9rem;
            height: 4rem;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
        }

        &:active {
            box-shadow: none;
        }
    }

    &__products-services-button {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;

        width: 25rem;
        height: 6rem;

        border: 1px solid $color-grey-mild;
        background-color: $color-white;
        border-radius: 5px;
        outline: none;
        
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-teal;

        transition: .3s all ease;

        @include respond(phone) {
            grid-column: 4 / 6;
            width: 10rem;
            height: 5rem;
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            width: 9rem;
            height: 4rem;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-grey-light;
        }
    }

    &__products-services-button--active {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;

        width: 25rem;
        height: 6rem;

        border: none;
        background-color: $color-teal;
        border-radius: 5px;
        box-shadow: $shadow-button;
        outline: none;
        
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-white;

        transition: .3s all ease;

        @include respond(phone) {
            grid-column: 4 / 6;
            width: 10rem;
            height: 5rem;
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            width: 9rem;
            height: 4rem;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
        }

        &:active {
            box-shadow: none;
        }
    }

    &__products-memberships-button {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;

        width: 25rem;
        height: 6rem;

        border: 1px solid $color-grey-mild;
        background-color: $color-white;
        border-radius: 5px;
        outline: none;
        
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-teal;

        transition: .3s all ease;

        @include respond(phone) {
            grid-column: 6 / 8;
            width: 10rem;
            height: 5rem;
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            width: 9rem;
            height: 4rem;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-grey-light;
        }
        
    }

    &__products-memberships-button--active {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;

        width: 25rem;
        height: 6rem;

        border: none;
        background-color: $color-teal;
        border-radius: 5px;
        box-shadow: $shadow-button;
        outline: none;
        
        text-transform: uppercase;
        font-size: 2rem;
        color: $color-white;

        transition: .3s all ease;

        @include respond(phone) {
            grid-column: 6 / 8;
            width: 10rem;
            height: 5rem;
            font-size: 1.4rem;
        }

        @include respond(small-phone) {
            width: 9rem;
            height: 4rem;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
        }

        &:active {
            box-shadow: none;
        }
    }

    // Products
    &__products-container {
        justify-self: center;
        align-self: flex-start;

        width: 25rem;
        height: 33rem;

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 25rem 7rem;

        box-shadow: $shadow-button;
        border-radius: 5px;
        overflow: hidden;

        @include respond(phone) {
            width: 18rem;
            height: 25rem;

            grid-template-columns: 2fr 1fr;
            grid-template-rows: 18rem 7rem;
        }

        @include respond(small-phone) {
            width: 15rem;
            height: 21rem;

            grid-template-columns: 2fr 1fr;
            grid-template-rows: 15rem 6rem;
        }
        

        &--1 {
            grid-column: 2 / 3;
            grid-row: 3 / 4;

            @include respond(phone) {
                grid-column: 1 / 5;
                grid-row: 3 / 4;
            }
        }

        &--2 {
            grid-column: 3 / 4;
            grid-row: 3 / 4;

            @include respond(phone) {
                grid-column: 5 / 9;
                grid-row: 3 / 4;
            }
        }

        &--3 {
            grid-column: 4 / 5;
            grid-row: 3 / 4;

            @include respond(phone) {
                grid-column: 1 / 5;
                grid-row: 4 / 5;
            }
        }

        &--4 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;

            @include respond(phone) {
                grid-column: 5 / 9;
                grid-row: 4 / 5;
            }
        }

        &--5 {
            grid-column: 3 / 4;
            grid-row: 4 / 5;

            @include respond(phone) {
                grid-column: 1 / 5;
                grid-row: 5 / 6;
            }
        }

        &--6 {
            grid-column: 4 / 5;
            grid-row: 4 / 5;

            @include respond(phone) {
                grid-column: 5 / 9;
                grid-row: 5 / 6;
            }
        }
    }

    &__products-photo {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        transition: .5s filter ease;

        &:hover {
            filter: saturate(0);
            cursor: pointer;
        }

        &--1 {
            background-image: url(./assets/home/products/Studio-E.jpg);
            background-position: center;
            background-size: cover;
        }

        &--2 {
            background-image: url(./assets/home/products/MP-Studio.jpg);
            background-position: center;
            background-size: cover;
        }

        &--3 {
            background-image: url(./assets/home/products/Podcast.jpg);
            background-position: center;
            background-size: cover;
        }

        &--4 {
            background-image: url(./assets/home/products/Audio-Room.jpg);
            background-position: center;
            background-size: cover;
        }

        &--5 {
            background-image: url(./assets/home/products/Camera.jpg);
            background-position: center;
            background-size: cover;
        }

        &--6 {
            background-image: url(./assets/home/products/Workstation.jpg);
            background-position: center;
            background-size: cover;
        }
    }

    &__products-name {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: flex-start;
        align-self: flex-start;
        margin: 1.5rem;

        color: $color-grey;

        @include respond(phone) {
            font-size: 1.4rem;
            margin: 1.5rem;
        }

        @include respond(small-phone) {
            font-size: 1.2rem;
        }
    }

    &__products-view {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: flex-start;
        margin-top: 1.5rem;

        width: 6rem;
        height: 4rem;

        background-color: $color-green;
        border: none;
        border-radius: 5px;
        box-shadow: $shadow-button;
        color: $color-white;
        text-transform: uppercase;
        outline: none;
        font-weight: 600;

        transition: .3s all ease;

        @include respond(phone) {
            width: 5rem;
            height: 4rem;
            font-size: 1rem;
        }

        @include respond(small-phone) {
            width: 4rem;
            height: 3rem;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
            background-color: $color-grey-light;
            color: $color-green;
        }

        &:active {
            box-shadow: none;
        }
    }
}