#products {
    grid-template-rows: 20rem 40rem 40rem 7rem;

    @include respond(tab-land) {
        grid-template-rows: 20rem 40rem 40rem 7rem;
    }

    @include respond(tab-port) { 
        grid-template-rows: 15rem repeat(3, 28rem) 7rem;
    }

    @include respond(small-phone) {
        grid-template-rows: 12rem repeat(3, 25rem) 5rem;
    }

    // Buttons
    &__button-container--1 {
        grid-column: 2 / 6;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;

        @include respond(tab-port) {
            grid-column: 3 / 4;
            justify-self: flex-start;
        }

        @include respond(phone) {
            grid-column: 2 / 4;
        }
    }

    &__button-container--2 {
        grid-column: 6 / 10;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;

        @include respond(tab-port) {
            grid-column: 4 / 6;
            justify-self: center;
        }
    }

    &__button-container--3 {
        grid-column: 10 / 14;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;

        @include respond(tab-port) {
            grid-column: 6 / 7;
            justify-self: flex-end;
        }

        @include respond(phone) {
            grid-column: 7 / 8;
        }
    }
}
