.home {
    // Explain
    &__services {
        display: grid;
        grid-template-columns: 1fr 5rem 65rem 5rem 1fr;
        grid-template-rows: 30rem repeat(9, 15rem) 30rem;

        @include respond(tab-port) {
            grid-template-columns: 1fr 2rem 45rem 2rem 1fr;
            grid-template-rows: 20rem repeat(9, 15rem) 20rem;
        }

        @include respond(phone) {
            grid-template-columns: 1fr 2rem 36rem 2rem 1fr;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr 1rem 28rem 1rem 1fr;
            grid-template-rows: 20rem repeat(3, 10rem 12rem 15rem) 15rem;
        }
    }

    // Banner
    &__services-banner {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        background-image: url(../../../assets/home/services/Banner-2.jpg);
        background-size: cover;
        background-position: center;
    }

    &__services-banner-container {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        text-align: center;
    }

    &__services-heading {
        text-transform: uppercase;
    }

    &__services-border {
        margin: 2rem auto;
        height: 2px;
        width: 15rem;
        background-color: $color-orange;
    }

    // 1
    &__services-heading-1 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: flex-end;

        margin-bottom: 4rem;
        text-transform: uppercase;
    }

    &__services-paragraph-1 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;

        text-align: center;

        @include respond(phone) {
            grid-column: 2 / 5;
        }
    }

    &__services-container-1 {
        grid-column: 3 / 4;
        grid-row: 4 / 5;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;

        @include respond(tab-port) {
            grid-column: 2 / 5;
            justify-self: center;
            grid-template-columns: repeat(3, 13.333rem);
        }

        @include respond(small-phone) {
            grid-template-columns: repeat(2, 16rem);
        }
    }

    &__services-photo-1 {
        width: 15rem;
        height: 15rem;
        background-size: cover;
        background-position: center;

        transition: all .3s ease;
        box-shadow: $shadow-medium;

        @include respond(tab-port) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(small-phone) {
            width: 14rem;
            height: 14rem;
        }

        &--1 {
            grid-column: 1 / 2;
            border-bottom: 4px solid $color-teal;

            @include respond(tab-port) {
                display: none;
                border-bottom: none;
            }
        }

        &--2 {
            grid-column: 2 / 3;
            border-bottom: 4px solid $color-orange;

            @include respond(tab-port) {
                border-bottom: 4px solid $color-teal;
                grid-column: 1 / 2;
                justify-self: center;
            }

            @include respond(small-phone) {
                grid-column: 1 / 2;
            }
        }

        &--3 {
            grid-column: 3 / 4;
            border-bottom: 4px solid $color-green;

            @include respond(tab-port) {
                border-bottom: 4px solid $color-orange;
                grid-column: 2 / 3;
                justify-self: center;
            }

            @include respond(small-phone) {
                display: none;
                border-bottom: none;
            }
        }

        &--4 {
            grid-column: 4 / 5;
            border-bottom: 4px solid $color-teal;

            @include respond(tab-port) {
                border-bottom: 4px solid $color-green;
                grid-column: 3 / 4;
                justify-self: center;
            }

            @include respond(small-phone) {
                grid-column: 2 / 3;
                border-bottom: 4px solid $color-orange;
            }
        }
    }

    // 2
    &__services-heading-2 {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
        justify-self: center;
        align-self: flex-end;

        margin-bottom: 4rem;
        text-transform: uppercase;

        @include respond(small-phone) {
            margin-bottom: 2rem;
        }
    }

    &__services-paragraph-2 {
        grid-column: 3 / 4;
        grid-row: 6 / 7;

        text-align: center;

        @include respond(phone) {
            grid-column: 2 / 5;
        }
    }

    &__services-container-2 {
        grid-column: 3 / 4;
        grid-row: 7 / 8;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;

        @include respond(tab-port) {
            grid-column: 2 / 5;
            grid-template-columns: repeat(3, 13.333rem);
            justify-self: center;
        }

        @include respond(small-phone) {
            grid-template-columns: repeat(2, 16rem);
        }
    }

    &__services-photo-2 {
        width: 15rem;
        height: 15rem;
        background-size: cover;
        background-position: center;

        transition: all .3s ease;
        box-shadow: $shadow-medium;

        @include respond(tab-port) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(small-phone) {
            width: 14rem;
            height: 14rem;
        }

        &--1 {
            grid-column: 1 / 2;
            border-bottom: 4px solid $color-orange;

            @include respond(tab-port) {
                justify-self: center;
            }

            @include respond(small-phone) {
                border-bottom: 4px solid $color-green;
            }
        }

        &--2 {
            grid-column: 2 / 3;
            border-bottom: 4px solid $color-green;

            @include respond(tab-port) {
                display: none;
                border-bottom: none;
            }
        }

        &--3 {
            grid-column: 3 / 4;
            border-bottom: 4px solid $color-teal;

            @include respond(tab-port) { 
                grid-column: 2 / 3;
                justify-self: center;
                border-bottom: 4px solid $color-green;
            }

            @include respond(small-phone) {
                border-bottom: 4px solid $color-teal;
            }
        }

        &--4 {
            grid-column: 4 / 5;
            border-bottom: 4px solid $color-orange;

            @include respond(tab-port) {
                border-bottom: 4px solid $color-teal;
                grid-column: 3 / 4;
                justify-self: center;
            }

            @include respond(small-phone) {
                display: none;
                border-bottom: none;
            }
        }
    }

    // 3
    &__services-heading-3 {
        grid-column: 3 / 4;
        grid-row: 8 / 9;
        justify-self: center;
        align-self: flex-end;

        margin-bottom: 4rem;
        text-transform: uppercase;

        @include respond(small-phone) {
            margin-bottom: 2rem;
        }
    }

    &__services-paragraph-3 {
        grid-column: 3 / 4;
        grid-row: 9 / 10;

        text-align: center;

        @include respond(phone) {
            grid-column: 2 / 5;
        }
    }

    &__services-container-3 {
        grid-column: 3 / 4;
        grid-row: 10 / 11;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;

        @include respond(tab-port) {
            grid-column: 2 / 5;
            grid-template-columns: repeat(3, 13.333rem);
            justify-self: center;
        }

        @include respond(small-phone) {
            grid-template-columns: repeat(2, 16rem);
        }
    }

    &__services-photo-3 {
        width: 15rem;
        height: 15rem;
        background-size: cover;
        background-position: center;

        transition: all .3s ease;
        box-shadow: $shadow-medium;

        @include respond(tab-port) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(small-phone) {
            width: 14rem;
            height: 14rem;
        }

        &--1 {
            grid-column: 1 / 2;
            border-bottom: 4px solid $color-green;

            @include respond(tab-port) {
                grid-column: 1 / 2;
                justify-self: center;
            }

            @include respond(small-phone) {
                border-bottom: 4px solid $color-orange;
            }
        }

        &--2 {
            grid-column: 2 / 3;
            border-bottom: 4px solid $color-teal;

            @include respond(tab-port) {
                display: none;
                border-bottom: none;
            }
        }

        &--3 {
            grid-column: 3 / 4;
            border-bottom: 4px solid $color-orange;

            @include respond(tab-port) {
                border-bottom: 4px solid $color-teal;
                grid-column: 2 / 3;
                justify-self: center;
            }

            @include respond(small-phone) {
                border-bottom: 4px solid $color-green;
            }
        }

        &--4 {
            grid-column: 4 / 5;
            border-bottom: 4px solid $color-green;

            @include respond(tab-port) {
                border-bottom: 4px solid $color-orange;
                grid-column: 3 / 4;
                justify-self: center;
            }

            @include respond(small-phone) {
                display: none;
                border-bottom: none;
            }
        }
    }

    &__services-book-link {
        grid-row: 11 / 12;
        grid-column: 3 / 4;
        justify-self: center;
        align-self: center;
    }

    &__services-book {
        width: 15rem;
        height: 5rem;

        background-color: $color-green;
        border: none;
        border-radius: 5px;
        box-shadow: $shadow-button;
        color: $color-white;
        text-transform: uppercase;
        outline: none;
        font-weight: 600;

        transition: .3s all ease;

        &:hover {
            cursor: pointer;
            background-color: $color-grey-light;
            color: $color-green;
        }

        &:active {
            box-shadow: none;
        }
    }
}
