// Heading Typography
.h1 {
    font-size: 4.5rem;
    color: $color-grey;

    &--white {
        color: $color-white;
    }

    @include respond(phone) {
        font-size: 4rem;
        margin-top: 4rem;
    }

    @include respond(small-phone) {
        font-size: 3.2rem;
    }
}

.h2 {
    font-size: 3.2rem;
    color: $color-grey;

    &--teal {
        color: $color-teal;
    }

    &--white {
        color: $color-white;
    }
}

.h3 {
    font-size: 2.4rem;
    color: $color-grey;

    &--teal {
        color: $color-teal;
    }

    &--white {
        color: $color-white;
    }

    @include respond(phone) {
        font-size: 1.8rem;
    }
}

.h4 {
    
}

.h5 {
    
}

.h6 {
    
}

// Paragraph Typography
.p-s {

}

.p-m {

}

.p-l {
    font-size: 1.8rem;
    color: $color-grey;
}

// Font Weights
.l {
    font-weight: 100;
}

.b  {
    font-weight: 900;
}