.header {
    background-color: #fff;
    grid-column: sidebar-start / main-end;

    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,.5);

    display: flex;
    align-items: center;

    // MENU BUTTON

    &__menu-button {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #fff;
        border: none;
        outline: none;
        margin-left: 1rem;
        margin-right: auto;

        &:hover {
            background-color: #F5F5F5;
            cursor: pointer;
        }

        &:active {
            background-color: #8DCBC0;
        }

        &:active .header__menu-icon {
            fill: #fff; 
        }
    }

    &__menu-icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: #8DCBC0;
    }

    // MENU LOGO

    &__fab {
        width: 9rem;
        height: 9rem;
        background-color: #8DCBC0;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        top: 2rem;
        box-shadow: 0px 3px 10px -5px rgba(0,0,0,.5);
        transition: all .2s ease;

        &:hover {
            transform: translate(-50%, 0) scale(1.02);
            cursor: pointer;
        }

        &:active {
            transform: translate(-50%, 0) scale(.97);
            box-shadow: 0px 3px 7px -4px rgba(0,0,0,.8);
        }
    }

    &__logo {
        position: relative;
        top: 4rem;
        left: 4.5rem;
        transform: translate(-50%, -50%);
        width: 6rem;
        height: 6rem;
    }

    // CART
    &__cart-button {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #fff;
        border: none;
        outline: none;
        margin-right: 2rem;

        &:hover {
            background-color: #F5F5F5;
            cursor: pointer;
        }

        &:active {
            background-color: #8DCBC0;
        }

        &:active .header__cart-icon {
            fill: #fff; 
        }
    }

    &__cart-icon {
        fill: #8DCBC0;
        width: 3rem;
        height: 3rem;
    }

    // USER
    &__user-button {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #fff;
        border: none;
        outline: none;
        margin-right: 3rem;

        &:hover {
            background-color: #F5F5F5;
            cursor: pointer;
        }

        &:active {
            background-color: #8DCBC0;
        }

        &:active .header__user-icon {
            fill: #fff; 
        }
    }

    &__user-icon {
        fill: #8DCBC0;
        width: 3rem;
        height: 3rem;
    }
}