.small-sidebar {
    background-color: #F5F5F5;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;

    
    &__button {
        padding: 2rem 0;
        font-size: 1.4rem;
        color: #757575;
        text-align: center;
        border-bottom: solid 1px rgba(117, 117, 117, .2);

        &:hover {
            background-color: rgba(117, 117, 117, .2);
            color: #DB754F;
            cursor: pointer;
        }

        &:hover .small-sidebar__button-icon {
            fill: #DB754F;
        }

        &:active,
        &:focus {
            color: #8DCBC0;
            background-color: #fff;
        }

        &:active .small-sidebar__button-icon {
            fill: #8DCBC0;
        }
    }

    &__button-icon {
        fill: #757575;
        width: 3rem;
        height: 3rem;
        margin-bottom: 1rem;
    }
}

.large-sidebar {
    background-color: #F5F5F5;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;

    &__header {
        background-color: #757575;
        color: #fff;
        font-size: 2rem;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        &:hover {
            background-color: #DB754F;
            color: #fff;
            cursor: pointer;
        }
    }

    &__section {
        color: #757575;
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        border-bottom: solid 1px rgba(117, 117, 117, .3);

        &:hover {
            background-color: rgba(117, 117, 117, .2);
            cursor: pointer;
        }
    }

    &__button-icon {
        fill: #757575;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        margin-left: .2rem;
    }
}