.sidebar {
    background-color: #F5F5F5;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;
    
    &__button {
        padding: 2rem 0;
        font-size: 1.4rem;
        color: #757575;
        text-align: center;
        border-bottom: solid 1px rgba(117, 117, 117, .2);

        &:hover {
            background-color: rgba(117, 117, 117, .2);
            cursor: pointer;
        }

        &:active,
        &:focus {
            color: #8DCBC0;
            background-color: #fff;
        }

        &:active .sidebar__button-icon {
            fill: #8DCBC0;
        }
    }

    &__button-icon {
        fill: #757575;
        width: 3rem;
        height: 3rem;
        margin-bottom: 1rem;
    }
}