// COLORS
$color-teal: #8DCBC0;

$color-white: #fff;
$color-grey: #757575;
$color-grey-hover: #5C5C5C;
$color-grey-light: #F5F5F5;
$color-grey-light-hover: #DCDCDC;

// SHADOWS
$shadow-medium: 0px 3px 10px -5px rgba(0,0,0,.5);
$shadow-dark: 0px 3px 7px -4px rgba(0,0,0,.8);

// BORDERS
$border-grey: solid 1px rgba(117, 117, 117, .2);