.about {

    // Banner
    &__contact {
        display: grid;
        grid-template-columns: 1fr repeat(4, 26rem) 1fr;
        grid-template-rows: 30rem 50rem 15rem 5rem 5rem 30rem;

        @include respond(tab-land) {
            grid-template-columns: 1fr repeat(4, 22rem) 1fr;
            grid-template-rows: 30rem 100rem repeat(4, 10rem) 10rem;
        }

        @include respond(tab-port) {
            grid-template-columns: 1fr repeat(3, 16.6rem) 1fr;
            grid-template-rows: 30rem 100rem 40rem 15rem 5rem 5rem 10rem;
        }

        @include respond(phone) {
            grid-template-columns: 1fr repeat(3, 12rem) 1fr;
            grid-template-rows: 15rem 100rem 35rem 10rem 4rem 4rem 7rem;
        }

        @include respond(small-phone) {
            grid-template-columns: 1fr repeat(3, 10rem) 1fr;
            grid-template-rows: 12rem 105rem 30rem 8rem 4rem 4rem 7rem;
        }
    }

    &__contact-banner {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        background-image: url(./assets/about/contact/Contact-Blur.jpg);
        background-size: cover;
        background-position: center;
    }

    &__contact-banner-container {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        text-align: center;

        background-color: rgba(255, 255, 255, 0.9);
        padding: 4rem;
        width: 80rem;

        border-radius: 15px;

        @include respond(tab-port) {
            width: 50rem;
            grid-column: 2 / 5;
        }

        @include respond(phone) {
            width: 100%;
            padding: 1.5rem;
        }
    }

    &__contact-heading {
        color: $color-grey-hover;
        text-transform: uppercase;
        font-size: 4.5rem;

        @include respond(phone) {
            font-size: 3.6rem;
        }

        @include respond(small-phone) {
            font-size: 2.4rem;
        }
    }

    &__contact-border {
        margin: 2rem auto;
        height: 2px;
        width: 15rem;
        background-color: $color-green;

        @include respond(phone) {
            margin: 1rem auto;
        }
    }

    // Content
    &__contact-form {
        grid-column: 4 / 6;
        grid-row: 2 / 7;
        justify-self: flex-end;
        align-self: flex-start;

        width: 512px;
        height: 1000px;

        margin-top: 10rem;

        @include respond(tab-land) {
            grid-column: 2 / 6;
            grid-row: 2 / 3;
            justify-self: center;
            margin-top: 5rem;
        }

        @include respond(tab-port) {
            grid-column: 2 / 5;
        }

        @include respond(phone) {
            width: 358px;
            height: 1000px;
        }

        @include respond(small-phone) {
            width: 300px;
            height: 1000px;
        }
    }

    &__contact-map {
        grid-column: 2 / 4;
        grid-row: 2 / 4;
        justify-self: flex-start;
        align-self: flex-start;

        margin-top: 10rem;
        border: .4rem solid $color-orange;
        transition: all .5s;

        width: 480px;
        height: 360px;

        &:hover {
            border: .4rem solid $color-green;
        }

        @include respond(tab-land) {
            grid-column: 2 / 4;
            grid-row: 4 / 5;
            justify-self: flex-start;
            margin-top: 0;

            width: 384px;
            height: 288px;
        }

        @include respond(tab-port) {
            grid-column: 2 / 5;
            grid-row: 3 / 4;
            align-self: center;
            justify-self: center;
            width: 480px;
            height: 360px;
        }

        @include respond(phone) {
            width: 374px;
            height: 278px;
        }

        @include respond(small-phone) {
            width: 299px;
            height: 222px;
        }
    }

    &__contact-heading-1 {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        justify-self: flex-start;
        align-self: center;

        color: $color-grey;
        text-transform: uppercase;

        @include respond(tab-land) {
            grid-column: 4 / 6;
            grid-row: 4 / 5;
            align-self: flex-start;
        }

        @include respond(tab-port) {
            grid-column: 2 / 6;
            grid-row: 4 / 5;
            align-self: center;
        }

        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    &__contact-paragraph-1 {
        grid-column: 2 / 4;
        grid-row: 4 / 5;
        justify-self: flex-start;
        align-self: flex-start;

        font-size: 2.4rem;

        @include respond(tab-land) {
            grid-column: 4 / 6;
            grid-row: 5 / 6;
            align-self: flex-start;
        }

        @include respond(tab-port) {
            grid-column: 2 / 6;
            grid-row: 5 / 6;
        }

        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    &__contact-link-1 {
        text-decoration: none;
        color: $color-orange;
        transition: all .2s ease;

        &:hover {
            border-bottom: 2px solid $color-green;
            color: $color-green;
        }
    }

    &__contact-paragraph-2 {
        grid-column: 2 / 4;
        grid-row: 5 / 6;
        justify-self: flex-start;
        align-self: flex-start;

        font-size: 2.4rem;

        @include respond(tab-land) {
            grid-column: 4 / 6;
            grid-row: 6 / 7;
            align-self: flex-start;
        }

        @include respond(tab-port) {
            grid-column: 2 / 6;
            grid-row: 6 / 7;
        }

        @include respond(small-phone) {
            font-size: 2rem;
        }
    }

    &__contact-link-2 {
        text-decoration: none;
        color: $color-orange;

        &:hover {
            border-bottom: 2px solid $color-green;
            color: $color-green;
        }
    }
}