.button {
    height: 5rem;
    background-color: $color-green;
    border: none;
    border-radius: 5px;
    box-shadow: $shadow-button;
    color: $color-white;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;

    transition: .3s all ease;

    &:hover {
        cursor: pointer;
        background-color: $color-grey-light;
        color: $color-green;
    }

    &:active {
        box-shadow: none;
    }

    &__medium {
        width: 10rem;

        @include respond(tab-port) {
            width: 9rem;
            height: 4rem;
        }

        @include respond(phone) {
            width: 8rem;
            height: 3rem;
        }
    }

    &__large {
        width: 15rem;
    }
}