.line-s {
    width: 10rem;
    margin: 0 auto;

    &--orange {
        border-bottom: 1px solid $color-orange;
    }
}

.line-m {
    height: 2px;
    width: 15rem;

    &--orange {
        background-color: $color-orange;
    }
}
