.product-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;

    height: 20rem;
    width: 60rem;

    padding: 2rem;

    background-color: $color-grey-light;
    box-shadow: $shadow-medium;
}