.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    height: 50rem;
    width: 36rem;
    position: relative;
    border: none !important;
    

    &__side {
        height: 100%;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: $shadow-large;

        &--front {
            background-color: white;
            color: black;
        }

        &--back {
            transform: rotateY(-180deg);
            display: grid;
            grid-template-rows: 4rem 20rem 20rem;

            &-1 {
                background-color: $color-teal;
            }

            &-2 {
                background-color: $color-green;
            }

            &-3 {
                background-color: $color-orange;
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 100%;
        position: absolute;
        left: -2rem;
        width: 110%;


        &--1 {
            background-image: url(./assets/about/team/Keith.png);
        }

        &--2 {
            background-image: url(./assets/about/team/Keith.png);
        }

        &--3 {
            background-image: url(./assets/about/team/Keith.png);
        }

        &--4 {
            background-image: url(./assets/about/team/Keith.png);
        }

        &--5 {
            background-image: url(./assets/about/team/Keith.png);
        }

        &--6 {
            background-image: url(./assets/about/team/Keith.png);
        }
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        text-align: right;

        position: absolute;
        top: 38rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;

        &--1 {
            background-image: linear-gradient(to right bottom, 
                rgba($color-teal, .85), 
                rgba($color-teal, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
                rgba($color-green, .85), 
                rgba($color-green, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
                rgba($color-orange, .85), 
                rgba($color-orange, .85));
        }
    }

    // BACK SIDE STYLING

    &__back-info {
        width: 80%;
        margin: 0 auto;
    }

    &__heading {
        margin-top: 2rem;
        color: $color-white;

        grid-row: 1 / 2;
    }

    &__paragraph-1 {
        margin-top: 2rem;
        color: $color-white;

        grid-row: 2 / 3;
    }

    &__paragraph-2 {
        margin-top: 2rem;
        color: $color-white;
    }
}