*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.small-sidebar-container {
    display: grid;
    grid-template-rows: 6rem 100rem 20rem;
    grid-template-columns: [sidebar-start] 7rem
                            [sidebar-end main-start] 1fr
                            [main-end];
    font-size: 1.8rem;

    @include respond(phone) {
        grid-template-rows: 6rem 100rem;
    }
}

.large-sidebar-container {
    display: grid;
    grid-template-rows: 6rem 50rem 20rem;
    grid-template-columns: [sidebar-start] 25rem
                            [sidebar-end main-start] 1fr
                            [main-end];
    font-size: 1.8rem;
}