// Active Small Sidebar
.small-sidebar-active {
    background-color: $color-white !important;
    border-right: solid 3px $color-teal;

    @include respond(phone) {
        border-top: solid 3px $color-teal !important;
        border-right: none;
    }
}

.small-sidebar-active p {
    color: $color-teal;
    background-color: $color-white !important;
}

.small-sidebar-active .small-sidebar__button-icon {
    fill: $color-teal !important;
}


// Main Small Sidebar
.small-sidebar {
    background-color: $color-grey-light;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 6rem;
    height: 100vh;
    width: 7rem;

    @include respond(phone) {
        grid-column: sidebar-start / main-end;
        grid-row: 3 / -1;

        flex-direction: row;
        position: sticky;
        bottom: 0;
        height: 7rem;
        width: 100%;
    }

    
    &__button {
        padding: 2rem 0;
        font-size: 1.4rem;
        color: $color-grey;
        text-align: center;
        border-bottom: $border-grey;
        width: 100%;

        @include respond(phone) {
            font-size: 0px;
            align-self: center;
            border-top: $border-grey;
            background-color: $color-grey-light;
        }

        &:hover {
            background-color: $color-grey-light-hover;
        }

        &:active,
        &:focus {
            color: $color-teal;
        }

        &:active .small-sidebar__button-icon,
        &:focus .small-sidebar__button-icon {
            fill: $color-teal;
        }
    }

    &__button-icon {
        fill: $color-grey;
        width: 3rem;
        height: 3rem;
        margin-bottom: 1rem;

        @include respond(phone) {
            margin-bottom: 0rem;
        }
    }
}

// Active Large Sidebar
.large-sidebar-active {
    background-color: $color-teal !important;
}

.large-sidebar-section-active {
    color: $color-teal !important;
    background-color: $color-white !important;
}

.large-sidebar-section-active .large-sidebar__button-icon{
    fill: $color-teal !important;
}

.large-sidebar-active p {
    color: $color-white;
}

// Main Large Sidebar
.large-sidebar {
    background-color: $color-grey-light;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 2 / -1;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 25rem;
    position: fixed;
    left: 0;

    @include respond(phone) {
        z-index: 100;
    }

    &__top {
        position: relative;
        height: 6rem;
        background-color: $color-white;

        @include respond(phone) {
            box-shadow: $shadow-medium;
        }
    }

    &__top-heading {
        font-size: 2rem;
        color: $color-teal;
        position: relative;
        top: 2rem;
        left: 1.5rem;
    }

    &__close-icon {
        width: 3rem;
        height: 3rem;
        fill: $color-teal;
        position: relative;
        left: 20rem;
        top: -.8rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__container {
        overflow: scroll;
        padding-bottom: 10rem;
    }

    &__header {
        background-color: $color-grey;
        color: $color-white;
        font-size: 2rem;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        &:hover {
            background-color: $color-grey-hover;
            cursor: pointer;
        }

        &:active,
        &:focus {
            color: $color-teal;
        }
    }

    &__section {
        color: $color-grey;
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        border-bottom: $border-grey;

        &:hover {
            background-color: $color-grey-light-hover;
            cursor: pointer;
        }
    }

    &__button-icon {
        fill: $color-grey;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        margin-left: .2rem;
    }
}